body{
        height: 100%;
        min-width: 1003px;
        text-shadow: rgba(0, 0, 0, 0.75) 0px 1px 3px;
        color: rgb(255, 255, 255);
        font-family: "Microsoft Yahei", 宋体;
        background: url(image/cardboard.png);
        padding: 0px;
        margin: 0px;
        overflow: hidden;
}
img{
        vertical-align:middle;
}
.wrapper{
        min-width:803px;
}
.wrapper .title{
        border-bottom: 1px solid #575C62;
        text-align: center;
        margin: 0;
        height: 40px;
        line-height: 40px;
        background: #26292d;
}
.panel{
        background:#1d1d1d73;
        position:relative;
        height:82px;
}
.pItem,.subItem{
        width:95px;
        height:56px;
        background:#565f7f57;
        text-align:center;
        float:left;
        margin-top:13px;
        cursor:pointer;
        margin-left:8px;
        color:#ffffffc7;
        border-radius: 10px;
}
.pItem img{
        margin-top:6px;
        height:29px;
}
.subItem{
        display:none;
}
.left,.right{
        margin-top:20px;
        height:600px;
        background:#1d1d1d73;
}
.left{
        float:left;
        width:1000px;
        position:relative;
        margin-left: 50px;
}
.painting{
        position:absolute;
        left:0;
        top:0;
}
.openFile{
        font-size:25px;
        margin-top:280px;
        color:#ccc;
        text-align:center;
}
.right{
        float:right;
        text-align:center;
        margin-left:1120px;
        width:214px;
        position:absolute;
}
.rect{
        height:91px;
        background:#fff;
}
.layer{
        position:absolute;
        bottom:0;
}
.layer .lItem{
        width:192px;
        height:38px;
        background:#cecece1c;
        line-height:38px;
        padding-left:10px;
        margin:5px 6px;
        color:#fff;
        cursor:pointer;
}
.layer .blueStyle{
        background:#cecece1c;
        border:1px solid #0043ef;
}
#upFile{
        position:absolute;
        top:13px;
        left:120px;
        opacity:0;
        cursor:pointer;
        width:70px;
        height:56px;
}
.commonmsgbox{
        width:500px;
        height:300px;
        position:fixed;
        z-index:10;
        background: #505050f2;
        border: 1px solid #2f2f2f;
}
.commonmsgbox .title{
        margin-top: -5px;
        text-align: center;
        color: #fff;
        width: 500px;
        line-height: 40px;
        height: 40px;
}
.commonmsgbox a{
        text-decoration:none;

}
.commonmsgbox .commonmsg{
        border-left:1px solid #ccc;
        border-right:1px solid #ccc;
        color:#000;
}
.commonmsgbox .msgclose{
        font-size:12px;
        float:right;
        margin-top:-33px;
        padding-right:10px;
        cursor:pointer;
        color:#9c9c9c;
}
.commonmsgbox .commonmsg{
        padding-left:20px;
        font-size:16px;
        padding-top:10px;
        line-height:24px;
        color: rgba(128, 124, 126, 0.86);
}
.commonmsgbox .content{
        padding:30px;
        line-height:24px;
        text-align:center;
}
.edit{
        background:#00000059;
        padding:6px;
        margin-top:8px;
}
.eItem{
        cursor:pointer;
        margin-left:4px;
}
.back{
        position:relative;
        left:10px;
        width:47px;
        height:auto;
        top:16px;
        display:none;
        opacity: 0.3;
}
.dBar{
        width: 300px;
        height: 15px;
        border: 2px solid #ccc;
        position: relative;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: -3px;
        display: inline-block;
}
.dBar a{
        display:block;
        position:absolute;
        left:135px;
        top:-20%;
        width:20px;
        height:140%;
        border:1px solid #999;
        border-radius:20px;
        background:#999;
}
.dBar .dMsg{
        position: absolute;
        right: -38px;
        top: -5px;
}
button{
        width:100px;
        text-align:center;
        line-height:100%;
        padding:0.3em;
        font:16px Arial,sans-serif bold;
        font-style:normal;
        text-decoration:none;
        margin:2px;
        vertical-align:text-bottom;
        zoom:1;
        outline:none;
        font-size-adjust:none;
        font-stretch:normal;
        border-radius:50px;
        box-shadow:0px 1px 2px rgba(0,0,0,0.2);
        text-shadow:0px 1px 1px rgba(0,0,0,0.3);
        color:#fefee9;
        border:0.2px solid #2299ff;
        background-repeat:repeat;
        background-size:auto;
        background-origin:padding-box;
        background-clip:padding-box;
        background-color:#3399ff;
        background: linear-gradient(to bottom, #5d5d5d 0%,#313131 100%);;

}