<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="EnMing's team"/>
    <meta name="description" content="梦图简约版，一款基于库的图像处理应用"/>

    <title>梦图 简约版--EnMing's Team</title>


    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <script src="/jsandcss/jquery.js"></script>
    <link rel="stylesheet" href="/jsandcss/bootstrap.css"/>
    <link rel="stylesheet" href="/jsandcss/bootstrap-theme.css"/>
    <link rel="stylesheet" href="/jsandcss/style_1_common.css"/>
    <script src="/jsandcss/bootstrap.js"></script>


    <link media="all" rel="stylesheet" href="/photo/style/main.css" type="text/css"/>
    <link media="all" rel="stylesheet" href="/photo/style/bar.style.css" type="text/css"/>
    <script type="text/javascript" src="/photo/js/alloyimage.js"></script>
    <script type="text/javascript" src="/photo/js/main2.js"></script>

</head>
<body>

<#include "../navboard.html"/>

<!--<div class="header">AlloyPhoto 简约版 1.0</div>-->
<div class="wrapper">
    <div class="left">
        <h3>效果</h3>
        <ul id="effects" class="effects">
            <li class="e_item">
                <div class="imgWrapper">
                </div>
            </li>
        </ul>
    </div>
    <div class="right">
        <div id="picWrapper" class="picWrapper">
            <img src="/photo/img/b.jpg" class="pic" id="pic" alt="" draggable="false"/>

            <div id="infoMsg">
                处理中
            </div>
        </div>

    </div>
</div>
<div class="command">
    <ul class="demoImg">
        <li class="d_item"><img src="photo/img/a.jpg"/>
            <div class='lab'></div>
        </li>
        <li class="d_item"><img src="photo/img/c.jpg"/>
            <div class='lab'></div>
        </li>
        <li class="d_item"><img src="photo/img/d.jpg"/>
            <div class='lab'></div>
        </li>
        <li class="d_item"><img src="photo/img/f.jpg"/>
            <div class='lab'></div>
        </li>
    </ul>
    <ul class="command_items">
        <div>
            <li>
                <a class="button" id="upload_button" href="#" class="mask">打开图片</a>
                <a class="button" href="#" class="mask" onclick="javascript:downloadImg()">保存图片</a>

                <a class="button" id="singleUploadButton" name="singleUp">Submit</a>
                <a class="button" id="singleUploadButtonSMMS">Submit图床</a>
            </li>
        </div>
        <!--
          <button id="singleUploadButton" type="button"  name="singleUp">Submit</button>
          <button id="singleUploadButtonSMMS"  type="button" >Submit图床</button>

        #TODO zhr:这里可能因为改了标签导致事件出错到时候注意一下-->



        <!--        </form>-->

    </ul>
    <div class="footer">
      <div class="upload-response">
        <div id="singleFileUploadSuccess" style=""></div>
      </div>
<!--        <div class="links">-->
<!--            &lt;!&ndash;      <a href="alloyphotopro.html">专业版</a> &nbsp;&nbsp;<a href="http://alloyteam.github.com/AlloyPhoto/" target="_blank">Docs</a> &nbsp;&nbsp;<a target="_blank" href="http://www.AlloyTeam.com/">Blog</a>&ndash;&gt;-->
<!--        </div>-->
        <!--    <div class="copyright">Copyright &copy; <script>document.write(new Date().getFullYear());</script> <a href="http://www.AlloyTeam.com/" target="_blank">Tencent AlloyTeam</a>. All Rights Reserved.</div>-->
    </div>
</div>
<input type="file" name="open" id="open" class="open"/>


<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23019343-9']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>
<script src="/photo/js/my_js.js"></script>
</body>
</html>
