<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="author" content="Tencent.AlloyTeam.Dorsywang" />
  <meta name="copyright" content="Tencent.AlloyTeam" />
  <meta name="keywords" content="alloyPhoto 专业版,alloyImage,web ps,html5 canvas,alloyTeam" />
  <meta name="description" content="alloyPhoto专业版，一款基于alloyImage库的图像处理应用,alloyImage是基于html5的图像处理js代码库。" />
	<title>AlloyPhoto 专业版--Tencent AlloyTeam</title>

<!--  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">-->
  <link rel="stylesheet" href="/jsandcss/bootstrap.css"/>
  <link rel="stylesheet" href="/jsandcss/bootstrap-theme.css"/>
  <link rel="stylesheet" href="/jsandcss/style_1_common.css"/>
  <script src="/jsandcss/bootstrap.js"></script>
  <script src="/jsandcss/jquery.js"></script>


  <link media="all" rel="stylesheet" href="/photo/style/main1.css" type="text/css" />
  <link media="all" rel="stylesheet" href="/photo/style/flash.css" type="text/css" />
  <script type="text/javascript" src="/photo/js/jquery.js"></script>
  <script type="text/javascript" src="/photo/js/alloyimage.js"></script>

  <link rel="stylesheet" rev="stylesheet" href="/photo/style/myphotopro.css" type="text/css">
</head>
<body>
<#include "../navboard.html"/>
<div class="wrapper">
  <div class="title">AlloyPhoto 1.0 Beta</div>
  <div class="panel">
    <div class="pItem" id="new"><img src='/photo/style/image/open.png' /><br />新建</div>
    <div class="pItem" id="open"><img src='/photo/style/image/open.png' /><br />打开图片</div>
    <div class="pItem" id="modify"><img src='/photo/style/image/modify.png' /><br />调整</div>
    <div class="pItem" id="lj"><img src='/photo/style/image/lvjing.png' /><br />滤镜</div>
    <div class="pItem" id="saveFile"><img src='/photo/style/image/save.png' /><br />保存图片</div>
    <div class="modifyItem subItem" id="modi_b">亮度/对比度调节</div>
    <div class="modifyItem subItem" id="modi_HSI">饱和度调节</div>
    <div class="modifyItem subItem" id="curve">曲线</div>
    <div class="ljItem subItem">反色</div>
    <div class="ljItem subItem">灰度处理</div>
    <div class="ljItem subItem">灰度阈值</div>
    <div class="ljItem subItem">高斯模糊</div>
    <div class="ljItem subItem">锐化</div>
    <div class="ljItem subItem">浮雕效果</div>
    <div class="ljItem subItem">查找边缘</div>
    <div class="ljItem subItem">马赛克</div>
    <div class="ljItem subItem">腐蚀</div>
    <!--<div class="ljItem subItem">油画</div>-->
    <div class="ljItem subItem">添加杂色</div>
    <div class="ljItem subItem">暗角</div>
    <div class="ljItem subItem">喷点</div>
    <img src="/photo/style/image/back.png" alt="" class="back" />
  </div>
  <div class="left">
    <div class="openFile">
      打开一张图片<br />
      <span style="font-size:12px;">tips:按ctrl键可移动图层、支持图层的多选操作</span>
    </div>
    <div class="painting">
    </div>
  </div>
  <div class="right">
    直方图
    <div class="rect">
      <canvas id="imgRect" width="214" height="91"></canvas>
    </div>
      图层
      <div class="edit">
        <img src="/photo/style/image/copy.png" id="copy" width="30" alt="复制图层" title="复制图层" class="eItem" />
        <img src="/photo/style/image/up.png" id="up" width="30" alt="上移图层" title="上移图层" class="eItem" />
        <img src="/photo/style/image/down.png" width="30" id="down" alt="下移图层" title="下移图层" class="eItem" />
        <img src="/photo/style/image/delete.png" width="30" id="delete" alt="删除图层" title="删除图层" class="eItem" />
      </div>
    <div class="layer">
    </div>
  </div>
</div>
<script type="text/javascript" src="/photo/js/main.js"></script>
<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-23019343-9']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
</script>
</body>
</html>
