<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="author" content="Tencent.AlloyTeam.Dorsywang" />
  <meta name="copyright" content="Tencent.AlloyTeam" />
  <meta name="keywords" content="alloyPhoto 简约版,alloyImage,alloyPhoto,html5 canvas,alloyTeam" />
  <meta name="description" content="alloyPhoto简约版，一款基于alloyImage库的图像处理应用,alloyImage是基于html5的图像处理js代码库。" />
  
<!--	<title>AlloyPhoto 简约版&#45;&#45;Tencent AlloyTeam</title>-->

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <script src="/jsandcss/jquery.js"></script>
  <link rel="stylesheet" href="/jsandcss/bootstrap.css"/>
  <link rel="stylesheet" href="/jsandcss/bootstrap-theme.css"/>
  <link rel="stylesheet" href="/jsandcss/style_1_common.css"/>
  <script src="/jsandcss/bootstrap.js"></script>


  <link media="all" rel="stylesheet" href="/photo/style/main.css" type="text/css" />
  <link media="all" rel="stylesheet" href="/photo/style/bar.style.css" type="text/css" />
  <script type="text/javascript" src="/photo/js/alloyimage.js"></script>
  <script type="text/javascript" src="/photo/js/main2.js"></script>

</head>
<body>

<#include "../navboard.html"/>

<!--<div class="header">AlloyPhoto 简约版 1.0</div>-->
<div class="wrapper">
  <div class="left">
    <h3>效果</h3>
    <ul id="effects" class="effects">
      <li class="e_item">
        <div class="imgWrapper">
        </div>
      </li>
    </ul>
  </div>
  <div class="right">
    <div id="picWrapper" class="picWrapper">
        <img src="/photo/img/bulding.jpg" class="pic" id="pic" alt="" draggable="false"/>

        <div id="infoMsg">
          处理中
        </div>
    </div>
    
  </div>	
</div>
<div class="command">
  <ul class="demoImg">
    <li>示例图片 <br />demos</li>
    <li class="d_item"><img src="/photo/img/bulding.jpg" /><div class='lab'>建筑</div></li>
    <li class="d_item"><img src="/photo/img/big.jpg" /><div class='lab'>特写</div></li>
    <li class="d_item"><img src="/photo/img/small.jpg" /><div class='lab'>微距</div></li>
    <li class="d_item"><img src="/photo/img/girl.jpg" /><div class='lab'>人物</div></li>
    <li class="d_item"><img src="/photo/img/inner.jpg" /><div class='lab'>室内</div></li>
    <li class="d_item"><img src="/photo/img/pet.jpg" /><div class='lab'>宠物</div></li>
    <li class="d_item"><img src="/photo/img/scen.jpg" /><div class='lab'>风景</div></li>
    <li class="d_item"><img src="/photo/img/stop.jpg" /><div class='lab'>静物</div></li>
  </ul>
  <ul class="command_items">
    <li>
        <a class="button" href="#" class="mask">打开图片</a><tr>
        <a class="savebutton" href="#" class="mask" onclick="javascript:downloadImg()">保存图片</a>

        <form  id="singleUploadForm" name="singleUploadForm">
<!--          <input id="singleFileUploadInput" type="file" name="file" class="file-input" required />-->
          <button type="button" class="primary submit-btn">Submit</button>

          <div class="upload-response">
            <div id="singleFileUploadError"></div>
            <div id="singleFileUploadSuccess"></div>
          </div>

        </form>
    </li>
  </ul>
  <div class="footer">
    <div class="links">
<!--      <a href="alloyphotopro.html">专业版</a> &nbsp;&nbsp;<a href="http://alloyteam.github.com/AlloyPhoto/" target="_blank">Docs</a> &nbsp;&nbsp;<a target="_blank" href="http://www.AlloyTeam.com/">Blog</a>-->
    </div>
<!--    <div class="copyright">Copyright &copy; <script>document.write(new Date().getFullYear());</script> <a href="http://www.AlloyTeam.com/" target="_blank">Tencent AlloyTeam</a>. All Rights Reserved.</div>-->
  </div>
</div>
<input type="file" name="open" id="open" class="open" />



<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-23019343-9']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

</script>
<script src="/photo/js/my_js.js" ></script>
</body>
</html>
