<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-10">

            <div class="fl bm">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        综合区
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <tbody>
                            <tr>

                                <td>
                                    <div class="fl_icn_g cl" style="width: 1px;">
                                        <a href="/bbs_anime"><img
                                                src="/images/bbs_board.png"
                                                alt="" align="left"></a></div>
                                    <dl style="margin-left: 1px;">
                                        <dt>动漫专区</dt>
                                    </dl>
                                </td>
                                <td>
                                    <div class="fl_icn_g cl" style="width: 1px;">
                                        <a href="/bbs_travel"><img
                                                src="/images/bbs_board.png"
                                                alt="" align="left"></a></div>
                                    <dl style="margin-left: 1px;">
                                        <dt>旅行专区</dt>
                                    </dl>
                                </td>
                                <td>
                                    <div class="fl_icn_g cl" style="width: 1px;">
                                        <a href="/bbs_food"><img
                                                src="/images/bbs_board.png"
                                                alt="" align="left"></a></div>
                                    <dl style="margin-left: 1px;">
                                        <dt>美食专区</dt>
                                    </dl>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        专题
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <tbody>
                            <tr>

                                <td>
                                    <div class="fl_icn_g cl" style="width: 1px;">
                                        <a href="/bbs_political"><img
                                                src="/images/bbs_board.png"
                                                alt="" align="left"></a></div>
                                    <dl style="margin-left: 1px;">
                                        <dt>政治金融专区</dt>
                                    </dl>
                                </td>
                                <td>
                                    <div class="fl_icn_g cl" style="width: 1px;">
                                        <a href="/bbs_historystory"><img
                                                src="/images/bbs_board.png"
                                                alt="" align="left"></a></div>
                                    <dl style="margin-left: 1px;">
                                        <dt>历史专区</dt>
                                    </dl>
                                </td>
                                <td>
                                    <div class="fl_icn_g cl" style="width: 1px;">
                                        <a href="/bbs_military"><img
                                                src="/images/bbs_board.png"
                                                alt="" align="left"></a></div>
                                    <dl style="margin-left: 1px;">
                                        <dt>军事专区</dt>
                                    </dl>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        站务管理专区
                    </div>
                    <div class="panel-body">

                        <table class="table">
                            <tbody>
                            <tr>
                                <td>
                                    <div class="fl_icn_g cl" style="width: 1px;">
                                        <a href="/bbs_forcomplain"><img
                                                src="/images/bbs_board.png"
                                                alt="" align="left"></a></div>
                                    <dl style="margin-left: 1px;">
                                        <dt>投诉</dt>
                                    </dl>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-2">
            <#include "sidebar.html"/>
        </div>
    </div>
</div>