<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-10">

            <div class="fl bm">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        生活之美
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <tbody>
                            <tr>

                                <td>
                                    <div class="fl_icn_g cl" style="width: 1px;">
                                        <a href="/bbs_anime"><img
                                                src="/images/567.jpg"
                                                alt="" align ="left" height="170" width="250"></a>
                                    </div>
                                    <dl style="margin-left: 1px;">
                                        <dt class="">动漫专区</dt>
                                    </dl>
                                </td>
                                <td>
                                    <div class="fl_icn_g cl" style="width: 1px;">
                                        <a href="/bbs_travel"><img
                                                src="/images/tam.jpg"
                                                alt="" align="left" height="170" width="250"></a></div>
                                    <dl style="margin-left: 1px;">
                                        <dt class="">旅行专区</dt>
                                    </dl>
                                </td>
                                <td>
                                    <div class="fl_icn_g cl" style="width: 1px;">
                                        <a href="/bbs_food"><img
                                                src="/images/noodle.jpg"
                                                alt="" align="center" height="170" width="250"></a></div>
                                    <dl style="margin-left: 1px;">
                                        <dt class="">美食专区</dt>
                                    </dl>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        世界之大
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <tbody>
                            <tr>

                                <td>
                                    <div class="fl_icn_g cl" style="width: 1px;">

                                        <a href="/bbs_political"><img
                                                src="/images/trump.jpg"
                                                alt="" align="left" height="170" width="250"></a></div>
                                    <dl style="margin-left: 1px;">
                                        <dt class="">政治专区</dt>
                                    </dl>
                                </td>
                                <td>
                                    <div class="fl_icn_g cl" style="width: 1px;">
                                        <a href="/bbs_historystory"><img
                                                src="/images/history.jpg"
                                                alt="" align="left" height="170" width="250"></a></div>
                                    <dl style="margin-left: 1px;">
                                        <dt class="">历史专区</dt>
                                    </dl>
                                </td>
                                <td>
                                    <div class="fl_icn_g cl" style="width: 1px;">
                                        <a href="/bbs_military"><img
                                                src="/images/tank.jpg"
                                                alt="" align="left" height="170" width="250"></a></div>
                                    <dl style="margin-left: 1px;">
                                        <dt class="">军事专区</dt>
                                    </dl>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        站务管理专区
                    </div>
                    <div class="panel-body">

                        <table class="table">
                            <tbody>
                            <tr>
                                <td>
                                    <div class="fl_icn_g cl" style="width: 1px;">
                                        <a href="/bbs_forcomplain"><img
                                                src="/images/cxk.jpg"
                                                alt="" align="left" height="250" width="250"></a></div>
                                    <dl style="margin-left: 1px;">
                                        <dt class="">投诉</dt>
                                    </dl>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-2">
            <#include "sidebar.html"/>
        </div>
    </div>
</div>